[submodule "bootcamp-10"]
	path = bootcamp-10
	url = https://github.com/tomtomdurrant/bootcamp-10.git
[submodule "bootcamp-2"]
	path = bootcamp-2
	url = https://github.com/tomtomdurrant/bootcamp-2.git
[submodule "bootcamp-1"]
	path = bootcamp-1
	url = https://github.com/tomtomdurrant/bootcamp-1.git
[submodule "intro-bootcamp-2019"]
	path = intro-bootcamp-2019
	url = https://github.com/tomtomdurrant/intro-bootcamp-2019.git
[submodule "tax_calculator"]
	path = tax_calculator
	url = https://github.com/tomtomdurrant/tax_calculator.git
[submodule "Exam/Sample-Code"]
	path = Exam/Sample-Code
	url = https://github.com/tomtomdurrant/Sample-Code.git
[submodule "bootcamp-7/trip-service-kata"]
	path = bootcamp-7/trip-service-kata
	url = https://github.com/tomtomdurrant/trip-service-kata.git
[submodule "bootcamp-8-security"]
	path = bootcamp-8-security
	url = https://github.com/tomtomdurrant/bootcamp-8-security.git
[submodule "hack-day-project"]
	path = hack-day-project
	url = https://github.com/tomtomdurrant/hack-day-project.git
